:root {
    --primary: #0096ff;
    --secondary:#FFFFFF;
    --light-secondary: #F2F2F2;
    --light: #1A1439AD;
    --dart-secondary:#FF4667;
    --dart-secondary2:#F4473E;
    --light-gray:#3B37499C;
    --light-border:#D9D9D9;
    --light-graay2: #F0F0F0;
    --light-black:#1A1439;
    --logo: #392C7D;
    --black: #000;
    --white : #fff;
  }
  